@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

body {
  /* overflow: hidden; */
}

.debug {
  border: 1px solid red;
}
.bg-home {
  background-image: url('/assets/space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-destination {
  background-image: url('/assets/space-tourism-website-main/starter-code/assets/destination/background-destination-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-crew {
  background-image: url('/assets/space-tourism-website-main/starter-code/assets/crew/background-crew-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-technology {
  background-image: url('/assets/space-tourism-website-main/starter-code/assets/technology/background-technology-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.explore:hover {
   box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.8),
              0 0 0 4px rgba(204, 204, 204, 0.6),
              0 0 0 6px rgba(204, 204, 204, 0.4),
              0 0 0 8px rgba(204, 204, 204, 0.2);
    user-select: none;
}
.explore {
  transition: all 0.3s ease-in-out;
}
.explore:active {
  transform: scale(0.9);
}

@media (max-width: 768px) {
  .bg-home {
    background-image: url('/assets/space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg');
  }
  .bg-destination {
    background-image: url('/assets/space-tourism-website-main/starter-code/assets/destination/background-destination-mobile.jpg');
  }
  .bg-crew {
    background-image: url('/assets/space-tourism-website-main/starter-code/assets/crew/background-crew-mobile.jpg');
  }
  .bg-technology {
    background-image: url('/assets/space-tourism-website-main/starter-code/assets/technology/background-technology-mobile.jpg');
  }
}
